.grid .card-list {
	max-width: 85vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 0px;
}

.list .card-list {
	max-width: 85vw;
	display: block;
}

@media only screen and (max-width: 1280px) {
	.card-list {
		max-width: 100%;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 768px) {
	.card-list {
		max-width: 100%;
		grid-template-columns: 1fr;
	}
}
