.card-container {
	position: relative;
}

.card-container .title p {
	color: #ffffff;
}

.title h4 {
	line-height: normal;
}

.image-container {
	border: 5px solid white;
	border-radius: 2%;
	min-height: 275px;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.cursor-pointer{
	cursor: pointer;
}

@media only screen and (max-width: 1200px) {
.image-container {
	min-height: 100%;
}
}

@media only screen and (max-width: 768px) {
.image-container {
	min-height: 100%;
}
}